<div id="div-page1">
	<!-- 背景图-->
	<div class="d-onlineBody-l"></div>
	<div class="d-onlineBody-r"></div>
	<!-- 查询 -->
	<div class="d-search-wrap ">
		<el-row type="flex" align="middle" justify="space-between" class="d-margin-t-10 d-margin-b-10">
			<el-col>
				<el-form :inline="true" class="demo-form-inline">
					<el-row type="flex" align="middle">
						<el-col :span="12">
							<el-col class="d-margin-r-25">
								<el-form-item label="卡号、品牌：">
									<el-input style="width: 140%;" placeholder="请输入卡号、品牌"></el-input>
								</el-form-item>
								<el-button class="d-margin-r-5" type="primary" icon="el-icon-search" @click="query()" style="float: right;">查询</el-button>
							</el-col>
						</el-col>
					</el-row>
				</el-form>
			</el-col>
		</el-row>
	</div>
	<div class="d-margin-t-15 ">

	</div>
	<!--数据-->
	<div id="tbdata" v-if="tableData!=null" class="d-padded-t-20 d-boxStab" v-loading="loading" max-height="screenHeight" element-loading-text="正在查询数据" element-loading-spinner="el-icon-loading" element-loading-background="rgba(0, 0, 0, 0.8)">
		<div class="d-pub-table">
			<el-table :data="tableData.dataList" class="d-padded-0 d-margin-0" style="width: 100%" min show-summary=true stripe=true  ref="singleTable" highlight-current-row >
				<!--<el-table-column label="序号" type="index" align="center" width="50"> </el-table-column>-->
				<el-table-column label="选择" type="selection" align="center" width="50"> </el-table-column>
				<el-table-column  type="expand" >
					<template slot-scope="carInfo">
						<el-form label-position="left" inline class="demo-table-expand">
							<el-table :data="carInfo.row.carList" class="d-padded-0 d-margin-0" show-summary=true ref="filterTable"  stripe=true style="width: 100%"  highlight-current-row>
								<el-table-column type="selection" align="center" width="50"></el-table-column>
								<el-table-column  type="expand" >
									<template slot-scope="cargonLocation">
										<el-form label-position="left" inline class="demo-table-expand">
											<el-table :data="cargonLocation.row.cargonLocationList" class="d-padded-5 d-margin-0" show-summary=true ref="filterTable" stripe=true style="width: 100%"  highlight-current-row>
												<el-table-column type="selection" align="center" width="50"></el-table-column>
												<el-table-column  type="expand">
													<template slot-scope="goodsInfo">
														<el-form label-position="left" inline class="demo-table-expand">
															<el-table :data="goodsInfo.row.goodsInfo" class="d-padded-0 d-margin-0" show-summary=true  ref="filterTable"  max-height="300" stripe=true style="width: 100%"  highlight-current-row>
																<el-table-column type="selection" align="center" width="50">
																</el-table-column>
																<el-table-column prop="shipper" label="货主" width="200" :filters="goodsInfo.row.searchShipper" :filter-method="shipperSearch" header-align="center" align="center"></el-table-column>
																<el-table-column prop="locationNo" label="货位号" width="100" header-align="center" align="center"></el-table-column>
																<el-table-column prop="stackingIndex" label="堆放顺序" width="80" header-align="center" align="center"></el-table-column>
																<el-table-column prop="meltingNo" label="熔炼号" width="100" :filters="goodsInfo.row.searchMeltingNo" :filter-method="meltingNoSearch" header-align="center" align="center"></el-table-column>
																<el-table-column prop="weight" label="重量" width="80" header-align="center" align="center"></el-table-column>
																<el-table-column prop="warehouseName" label="仓库名称" width="100" header-align="center" align="center"></el-table-column>
																<el-table-column prop="productName" label="品名" width="100" header-align="center" align="center"></el-table-column>
																<el-table-column prop="brandName" label="品牌" width="100" header-align="center" align="center"></el-table-column>
																<el-table-column prop="ascription" label="货物归属" width="200" header-align="center" align="center"></el-table-column>
																<el-table-column prop="weigh" label="过磅重量" width="80" header-align="center" align="center"></el-table-column>
															</el-table>
														</el-form>
													</template>
												</el-table-column>
												<el-table-column prop="locationNo" label="货位" header-align="center" align="center"></el-table-column>
												<el-table-column prop="weight" label="重量" header-align="center" align="center"></el-table-column>
												<el-table-column prop="count" label="数量" header-align="center" align="center"></el-table-column>							
											</el-table>
										</el-form>
									</template>
								</el-table-column>								
								
								<el-table-column prop="wagon" label="车皮号" header-align="center" align="center"></el-table-column>
								<el-table-column prop="weight" label="重量" header-align="center" align="center"></el-table-column>
								<el-table-column prop="count" label="数量" header-align="center" align="center"></el-table-column>							
							</el-table>
						</el-form>
					</template>
				</el-table-column>
				<el-table-column label="卡号"  prop="cardNo" sortable column-key="cardNo" filter-placement :filters="tableData.searchList" :filter-method="carSearch" header-align="center" align="center"></el-table-column>
				<el-table-column label="品牌"  prop="brandName" header-align="center" align="center" ></el-table-column>
				<el-table-column label="重量"  prop="weight"  header-align="center" align="center"  ></el-table-column>
				<el-table-column label="数量"  prop="count" header-align="center" align="center"  ></el-table-column>
			</el-table>
		</div>

		
	</div>

	
</div>

<script type="text/javascript" src="../Js/biz/page1.js"></script>