<div id="div-page3">
	<!-- 背景图-->
	<div class="d-onlineBody-l"></div>
	<div class="d-onlineBody-r"></div>
	<!-- 查询 -->
	<div class="d-search-wrap ">
		<el-row type="flex" align="middle" justify="space-between" class="d-margin-t-10 d-margin-b-10">
			<el-col>
				<el-form :inline="true" class="demo-form-inline">
					<el-row type="flex" align="middle">
						<el-col :span="12">
							<el-col class="d-margin-r-25">
								<el-form-item label="卡号、品牌：">
									<el-input style="width: 140%;"  placeholder="请输入卡号、品牌"></el-input>
								</el-form-item>
								<el-button class="d-margin-r-5" type="primary" icon="el-icon-search" @click="query()" style="float: right;">查询</el-button>
							</el-col>
						</el-col>
					</el-row>
				</el-form>
			</el-col>
		</el-row>
	</div>
	<div class="d-margin-t-15 ">

	</div>
	<div id="tbdata" :class="changePanelWidth()" class="d-padded-t-20 d-boxStab" v-loading="loading" element-loading-text="正在查询数据" element-loading-spinner="el-icon-loading" element-loading-background="rgba(0, 0, 0, 0.8)">
		<div class="d-pub-table" class="el-col-24">
			<el-table :data="tableData" style="width: 100%" max-height="400" min stripe=true ref="singleTable" highlight-current-row @selection-change="selectCar">
				<el-table-column type="selection" align="center" width="50">
				</el-table-column>
				<el-table-column label="卡号" min-width="150"  prop="cardNo" sortable column-key="cardNo" header-align="center" align="center" :filters="searchCarNo" :filter-method="carSearch">
					<span slot-scope="scope">{{scope.row.cardNo}}</span>
				</el-table-column>
				<el-table-column label="品牌" min-width="150"  header-align="center" align="center" >
					<span slot-scope="scope">{{scope.row.brandName}}</span>
				</el-table-column>
				<el-table-column label="重量"  min-width="100" header-align="center" align="center" >
					<span slot-scope="scope">{{scope.row.weight}}</span>
				</el-table-column>
				<el-table-column label="数量"  min-width="100" header-align="center" align="center" >
					<span slot-scope="scope">{{scope.row.count}}</span>
				</el-table-column>
			</el-table>
		</div>
	</div>
	<div id="carInfo" v-if="carInfo.length>0" :class="changePanelWidth()" class="d-padded-t-20 d-boxStab" v-loading="loading" element-loading-text="正在查询数据" element-loading-spinner="el-icon-loading" element-loading-background="rgba(0, 0, 0, 0.8)">
		<div class="d-pub-table" class="el-col-24">
			<el-table :data="carInfo" style="width: 100%" max-height="192" min stripe=true ref="singleTable" highlight-current-row @selection-change="selectLaction">
				<el-table-column type="selection" align="center" width="50">
				</el-table-column>
				<el-table-column label="车皮号" min-width="150" prop="wagon" sortable column-key="wagon" header-align="center" align="center">
					<span slot-scope="scope">{{scope.row.wagon}}</span>
				</el-table-column>
				<el-table-column label="重量"min-width="100" header-align="center" align="center" >
					<span slot-scope="scope">{{scope.row.weight}}</span>
				</el-table-column>
				<el-table-column label="数量" min-width="100" header-align="center" align="center" >
					<span slot-scope="scope">{{scope.row.count}}</span>
				</el-table-column>
			</el-table>
		</div>
	</div>
	
	<div id="cargonLocationInfo"  v-if="cargonLocationInfo.length>0" :class="changePanelWidth()" class="d-padded-t-20 d-boxStab" v-loading="loading" element-loading-text="正在查询数据" element-loading-spinner="el-icon-loading" element-loading-background="rgba(0, 0, 0, 0.8)">
		<div class="d-pub-table" class="el-col-24">
			<el-table :data="cargonLocationInfo" style="width: 100%" max-height="192" min stripe=true ref="singleTable" highlight-current-row @selection-change="selectGoods">
				<el-table-column type="selection" align="center" width="50">
				</el-table-column>
				<el-table-column label="货位" min-width="100" prop="locationNo" sortable column-key="locationNo" header-align="center" align="center">
					<span slot-scope="scope">{{scope.row.locationNo}}</span>
				</el-table-column>
				<el-table-column label="重量" min-width="100" header-align="center" align="center" >
					<span slot-scope="scope">{{scope.row.weight}}</span>
				</el-table-column>
				<el-table-column label="数量" min-width="100" header-align="center" align="center" >
					<span slot-scope="scope">{{scope.row.count}}</span>
				</el-table-column>
			</el-table>
		</div>
	</div>
</div>

<script type="text/javascript" src="../Js/biz/page3.js"></script>