<div id="div-pageB">
	<!-- 背景图-->
	<div class="d-onlineBody-l"></div>
	<div class="d-onlineBody-r"></div>
	<!-- 查询 -->
	<div class="d-search-wrap ">
		<el-row type="flex" align="middle" justify="space-between" class="d-margin-t-10 d-margin-b-10">
			<el-col>
				<el-form :inline="true" class="demo-form-inline">
				</el-form>
			</el-col>
		</el-row>
	</div>
	<div class="d-margin-t-15 ">
		pageB
	</div>
	<!--数据-->
	<div id="tbdata" class="d-padded-t-20 d-boxStab"  element-loading-text="正在查询数据" element-loading-spinner="el-icon-loading" element-loading-background="rgba(0, 0, 0, 0.8)">
		<div class="d-pub-table">
			
		</div>
	</div>
	
	
</div>

<script type="text/javascript" src="../Js/biz/userManage.js"></script>