<!DOCTYPE html>
<html>

	<head>
		<meta http-equiv="content-type" content="text/html;charset=utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link rel="stylesheet" href="../css/styles.min.css">
		<link rel="stylesheet" href="../Js/others/element/element.min.css" />
		<link rel="stylesheet" href="../Js/others/alertify/css/alertify.min.css" />
		<link rel="stylesheet" href="../Js/others/alertify/css/themes/default.min.css" />
		<link rel="icon" sizes="any" mask="" href="../Images/logo/icon_favicon.ico">
		<title>深水港</title>
		<style>
			.aside {
				width: 240px !important;
				padding: 0px !important;
			}
			
			.main {
				margin: 0.5rem;
				padding: 0px;
			}
		</style>
	</head>

	<body>
		<div id="div-mainTab" v-cloak>
			<div>
				<c-total></c-total>
			</div>
			<el-header class="hidden-print d-padded-0 d-border-b-gray2"  style="height: auto;">
				<el-container class="d-padded-t-10 d-background-white">
					<el-row class="d-container" type="flex" align="middle">
						<el-col :span="8">
							<el-row type="flex" align="middle">
								<div class="d-font-size-18 d-font-bold">
									<a  class="d-cursor-pointer" href="main.html"><img src="../Images/logo/icon_favicon.ico"/>
									</a>
								</div>
							</el-row>
						</el-col>
						<el-col :span="16" class="d-text-right ">
							<el-menu mode="horizontal" @select="handleSelect" style="border:0">
								<el-menu-item index="../index.html">主页</el-menu-item>
								<el-submenu v-for="item in menus" :index="item.href">
									<template slot="title">
										<i :class="item.icon"></i>
										<span slot="title">{{item.name}}</span>
									</template>
									<el-menu-item v-for="li in item.list" :index="li.href">
										<i class="el-icon-document"></i>
										<span>{{li.name}}</span>
									</el-menu-item>
								</el-submenu>
							</el-menu>
						</el-col>
					</el-row>
				</el-container>
			</el-header>

			<el-container>
				<el-main class="main">
					<div id="pane"></div>
				</el-main>
			</el-container>

			<el-footer class="hidden-print">

			</el-footer>
		</div>

		<script type="text/javascript" src="../Js/CryptoJS/core-min.js"></script>
		<script type="text/javascript" src="../Js/CryptoJS/cipher-core-min.js"></script>
		<script type="text/javascript" src="../Js/CryptoJS/aes-min.js"></script>
		<script type="text/javascript" src="../Js/CryptoJS/md5-min.js"></script>

		<script type="text/javascript" src="../Js/common.min.js"></script>
		<script type="text/javascript" src="../Js/others/element/element.min.js"></script>
		<script type="text/javascript" src="../Js/others/element/tree-table.js"></script>
		<script type="text/javascript" src="../Js/component.min.js"></script>
		<script type="text/javascript" src="../Js/barcode.min.js"></script>

		<script type="text/javascript" src="../Js/others/alertify/alertify.min.js" ></script>
		
		<script type="text/javascript" src="../Js/plugins.min.js"></script>
		<script>
			var menuList = jsRes.menuList;

			var vmMain = new Vue({
				el: '#div-mainTab',
				data: {
					defaultActive: 'page7',
					menus: menuList,

					selectTab: 'page7',
					tabs: [],
					isCollapse: false,
					loginUserName: jsTools.userNumber(),
				},
				methods: {
					handleSelect: function(key, keyPath) {
						console.log(key, keyPath);
						if(keyPath.length == 1){
							if(key.indexOf('.html') > 0)
								location.href = key;
						}else{
							selectTab(keyPath[0], keyPath[1]);
						}
						
					},

				},
				mounted() {
					selectTab('helpCenter', this.defaultActive);
				}
			});

			function selectTab(firstTitle, secTitle) {
				setTimeout(function() {
					var body = $('#pane');
					var path = firstTitle + '/' + secTitle;
					body.load(path + '.html?ver=' + new Date().getTime());
				}, 0);
			}
		</script>
	</body>

</html>