// global transition css

/* fade */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.28s;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

/* fade-transform */
.fade-transform-leave-active,
.fade-transform-enter-active {
  transition: all .5s;
}

.fade-transform-enter {
  opacity: 0;
  transform: translateX(-30px);
}

.fade-transform-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

/* breadcrumb transition */
.breadcrumb-enter-active,
.breadcrumb-leave-active {
  transition: all .5s;
}

.breadcrumb-enter,
.breadcrumb-leave-active {
  opacity: 0;
  transform: translateX(20px);
}

.breadcrumb-move {
  transition: all .5s;
}

.breadcrumb-leave-active {
  position: absolute;
}


/* fade-transform-v */
.fade-transform-v-leave-active,
.fade-transform-v-enter-active {
  transition: all 0.5s;
}

.fade-transform-v-enter {
  opacity: 0;
  transform: translateY(30px);
}

.fade-transform-v-leave-to {
  opacity: 0;
  transform: translateY(30px);
}

.fade-transform-v-leave-active {
  position: absolute;
}


/* bound-transform */
.bound-transform-leave-active,
.bound-transform-enter-active {
  transition: all 0.5s;
}

.bound-transform-enter {
  opacity: 0;
  transform: scale(0.5);
}

.bound-transform-leave-to {
  opacity: 0;
  transform: scale(0.5);
}

.bound-transform-leave-active {
  position: absolute;
}

.transfrom-active:active{
  opacity: 0.5;
}