<div id="div-relationManage">
	<!-- 背景图-->
	<div class="d-onlineBody-l"></div>
	<div class="d-onlineBody-r"></div>
	<el-container>
		<el-container>
			<el-aside width="330px" style="padding-top: 0px!important;">
				<div class="d-margin-t-5">
					<el-tag>1.选择角色</el-tag>
				</div>
				<div class=" d-padded-t-20">
					<!-- 查询角色信息-->
					<div class="d-search-wrap ">
						<el-row type="flex" align="middle" justify="space-between" class="d-margin-t-10 d-margin-b-10">
							<el-col>
								<el-form :inline="true" class="demo-form-inline">
									<el-row type="flex" align="middle">
										<el-col class="d-margin-l-15">
											<el-input style="width: 70%;" v-model="parameters.No" placeholder="请输入名称、代码"></el-input>
											<el-button size="mini" class="d-margin-r-10" type="primary" icon="el-icon-search" @click="query()" style="float: right;">查询</el-button>
										</el-col>
									</el-row>
								</el-form>
							</el-col>
						</el-row>
					</div>
					<!--数据-->
					<div id="tbRoleData" class="d-padded-t-20 d-boxStab d-min-heigth-3 d-max-heigth-5" v-loading="loading" element-loading-text="正在查询数据" element-loading-spinner="el-icon-loading" element-loading-background="rgba(0, 0, 0, 0.8)">
						<div class="d-pub-table">
							<el-table id="tbRole"  :data="tbRoleData" tooltip-effect="dark" ref="multipleTable" border style="width: 100%" ref="singleTable" highlight-current-row  @selection-change="handleSelectionChange"  label-class-name="d-firstTh">
								<el-table-column type="selection" align="center" width="50">
								</el-table-column>
								<el-table-column fixed type="index" header-align="center" align="center" label="序号" width="50">
								</el-table-column>
								<el-table-column label="角色名称" width="120" header-align="center" align="center">
									<span slot-scope="scope">{{scope.row.roleName}}</span>
								</el-table-column>
								<el-table-column label="代码" header-align="center" align="center" width="100">
									<span slot-scope="scope">{{scope.row.code}}</span>
								</el-table-column>
							</el-table>
						</div>
					</div>
				</div>
			</el-aside>
			<el-main style="padding-top: 0px!important;">
				<div class="d-margin-t-5 ">
					<el-tag type="danger">2.设置权限</el-tag>
				</div>
				<!--数据-->
				<div id="ModularData" class="d-padded-t-25 d-boxStab ">
					<div class="d-pub-table d-padded-t-20 d-padded-b-60 d-boxStab d-border-cyan d-min-heigth-3" style="overflow-y:auto">
						<div v-for="x in ModularData" class="d-padded-t-10 d-padded-l-40">
							<template>
								<el-checkbox class="d-margin-t-10" :indeterminate="isIndeterminate" @change="CheckAllChange(x)">
									{{x.modularName}}
								</el-checkbox>
								<el-checkbox-group v-model="checkedAllItems" @change="CheckedItemChange">
									<el-checkbox v-for="y in x.details" :label="y.name" :key="y.name" style="width: 30%; margin-left:15px!important; margin-top: 10px!important;" smal="medium">
										{{y.name}}
									</el-checkbox>
								</el-checkbox-group>
							</template>
						</div>
					</div>
				</div>
			</el-main>

		</el-container>

		<el-footer>
			<div class="d-text-center">
				<el-row >
					<el-button class="d-width-20" type="primary" @click="save()">保  存</el-button>
				</el-row>
			</div>
		</el-footer>
	</el-container>

</div>

<script type="text/javascript" src="../Js/biz/relationManage.js"></script>