<!DOCTYPE HTML>
<html>

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
		<meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
		<meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
		<title></title>
		<link rel="stylesheet" href="../../css/styles.min.css" />
		<style type="text/css">
			.cur-background {
				background: -webkit-linear-gradient(left, #039af4, #7ab4e3);
			}
			
			.aui-list {
				border-top: 0;
			}
			
			.aui-list .aui-list-item {
				padding: 0.2rem 0;
			}
			
			.c-myInfo .aui-list-item:first-child .iconfont {
				font-size: 0.8rem !important;
				padding-top: 0.2rem;
			}
			
			.c-myInfo .aui-list-item:nth-child(2) .iconfont {
				font-size: 0.7rem !important;
			}
			/*
			.c-myInfo .aui-list-item:nth-child(6) .iconfont{ margin-left: 0.15rem;}
			.c-myInfo .aui-list-item:last-child .iconfont{ margin-left: 0.15rem;}
			.c-myOther .aui-list-item .aui-iconfont{margin-left: 0.15rem;}*/
		</style>
	</head>

	<body>

		<header class="aui-bar aui-bar-nav c-fixed" id="aui-header">
			<a class="aui-pull-left" onclick="closeWin()"><i class="aui-iconfont aui-icon-left c-text-default"></i>返回</a>
			<div class="aui-title">
				会员信息
			</div>
			<a class="aui-btn aui-pull-right"></a>
		</header>

		<div class="aui-bar aui-bar-nav">
			&nbsp;
		</div>

		<div id="vueUser" v-cloak>
			<div class="aui-padded-t-10 aui-padded-b-10 c-bg-white aui-border-b" @click="openMyInfo()">
				<div class="aui-flex-col aui-flex-middle aui-padded-15">
					<div class="aui-flex-item-3">
						<div class="c-img-size-3 c-radius2 c-img-my"></div>
					</div>
					<div class="aui-flex-row aui-flex-item-8 aui-flex-middle ">
						<div class="aui-font-size-18">
							{{info.NickName}}<span class="aui-text-info aui-font-size-14"></span>
						</div>
						<div>
							<div class="aui-label aui-label-warning aui-font-size-12"> <i class="iconfont icon-member2 aui-padded-r-5 aui-font-size-14"></i>{{info.MenmberKindCaption}}</div>
						</div>

					</div>
					<div class="aui-flex-item-1 aui-text-center">
						<i class="aui-iconfont aui-icon-right"></i>
					</div>
				</div>
			</div>

			<div class="aui-content">

				<ul class="aui-list aui-list-in aui-margin-t-15 aui-list-noborder c-myInfo">

					<li v-for="(x,index) in list.oneInfo" class="aui-list-item" v-on:click="buttons(x)">
						<div class="aui-list-item-label-icon">
							<i v-bind:class="x.icon" class="aui-font-size-20"></i>
						</div>
						<div class="aui-list-item-inner aui-list-item-arrow">
							<div class="aui-list-item-title">
								{{x.title}}
							</div>
							<div v-if="x.subTitle != null" class="aui-list-item-right">
								<span class="aui-font-size-12 aui-text-warning">{{x.subTitle}}</span>
							</div>
						</div>
					</li>
				</ul>
				<ul class="aui-list aui-list-in aui-margin-t-15 aui-list-noborder c-myOther">
					<li v-for="y in list.twoInfo" class="aui-list-item" :class="y | isShow" v-on:click="buttons(y)">
						<div class="aui-list-item-label-icon">
							<i v-bind:class="y.icon"></i>
						</div>
						<div class="aui-list-item-inner aui-list-item-arrow">
							<div class="aui-list-item-title">
								{{y.title}}
							</div>
						</div>
					</li>
				</ul>
				
			</div>
		</div>

		<section class="aui-margin-15">
			<div class="aui-btn aui-btn-info aui-btn-block" tapmode onclick="logout()">
				退出登录
			</div>
		</section>

	</body>
	<script type="text/javascript" src="../../script/common.min.js"></script>
	<script type="text/javascript" src="../../script/aui.min.js"></script>
	<script type="text/javascript" src="../../script/plugins.min.js"></script>

	<script type="text/javascript" src="../../script/CryptoJS/core-min.js"></script>
	<script type="text/javascript" src="../../script/CryptoJS/cipher-core-min.js"></script>
	<script type="text/javascript" src="../../script/CryptoJS/aes-min.js"></script>
	<script type="text/javascript" src="../../script/CryptoJS/md5-min.js"></script>
	<script>
		var vm = new Vue({
			el: '#vueUser',
			data: {
				info: {},
				list: {}
			},
			computed: {
				isAdmin: function() {
					if(this.info != null && this.info.MenmberKind == 99) {
						return true;
					} else
						return false;
				},
			},
			filters: {
				CardNo: function(ret) {
					return ret.replace(/(.{4})/g, '$1 ');
				},

				//设置增加账户按钮是否显示
				setAddAccountBtnHide: function(ret) {
					//只有公司会员，且账户只有一个的情况才会显示
					if(ret.MenmberKind == 0 && ret.MenmberAccounts.length < 2)
						return '';
					return 'aui-hide';
				},
				//只有APP时，更新按钮才显示
				isShow: function(ret) {
					if(ret.id == 'checkUpdate') {
						if(jsTools.getSystemType() != 'android') {
							return 'aui-hide';
						}
					}

					if(ret.id == 'share') {
						if(jsTools.getCurSystem() == 'web')
							return 'aui-hide';
					}

					return '';
				}

			},
			methods: {
				openMyInfo: function() {
					jsTools.Win.open('MyInfo', 'MyInfo.html');
				},
				openBussinessWin: function() {
					jsTools.Win.open('BussinessInfo', 'BussinessInfo.html');
				},
				buttons: function(ret) {

					if(ret.href)
						jsTools.Win.open(ret.name, ret.href);
					else {
						switch(ret.id) {
							case 'checkUpdate':
								checkUpdate();
								break;
							case 'share':
								wxApi.shareWebpage('海福宝后台APP', '海福宝后台下载分享', jsRes.downloadPath.appAdmin.path);
								break;
						}
					}
				},

			}
		});

		jsTools.initPage(function() {
			jsTools.Win.init();

			jsTools.addEvent('REFRESH_USERINFO', function() {
				getUserInfo();
			});

			getUserInfo();
		});

		var dialog = new auiDialog();
		//注销
		function logout() {
			dialog.alert({
				title: "提示",
				msg: '是否要退出登录？',
				buttons: ['取消', '确定']
			}, function(ret) {
				if(ret.buttonIndex == 2) {
					phAjax.logOff(function() {
						jsTools.sendEvent('MAIN_CHANGE_PANEL');
						jsTools.Win.close();
					});
				}
			})
		}

		function closeWin() {
			jsTools.Win.close();
		}

		function checkUpdate() {
			jsTools.checkVersion();
		}

		function getUserInfo() {

			var dat = {
				serviceName: jsTools.Server.GetUserInfoService,
				data: {}
			};

			jsTools.ajax(dat, function(result) {

				vm.info = result;

				if(vm.info.MenmberKind == 9) {
					//付款账户
					jsRes.Res.userListData.oneInfo.splice(0, 1);
				}

				vm.list = jsRes.Res.userListData;

				jsTools.Storage.setVal(jsTools.Res.userInfo, result);

			});
		}
	</script>

</html>