.d-intro-bank{
	width: 26px;
	height: 26px;
	display: inline-block;
	margin-right: .5rem;
	overflow: hidden;
	background-image: url(../image/icon_bank_all.png);
	background-repeat: no-repeat;
	
	background-color: #fff;
	border: 2px solid #fff;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -o-border-radius: 100%;
}

/*空银行*/
.d-icon-null{
	background-position: 0 0;
}

.d-bank-item:hover .d-icon-null,.d-icon-null.active{
	cursor: pointer;
	background-position: 0 0;
}


/*工商银行*/
.d-icon-ICBC{
	background-position: 0 -30px;
}

.d-bank-item:hover .d-icon-ICBC,.d-icon-ICBC.active{
	cursor: pointer;
	background-position: 0 -60px;
}


/*农业银行*/
.d-icon-ABC{
	background-position: 0 -90px;
}

.d-bank-item:hover .d-icon-ABC,.d-icon-ABC.active{
	cursor: pointer;
	background-position: 0 -120px;
}


/*中国银行*/
.d-icon-BOC{
	background-position: 0 -150px;
}

.d-bank-item:hover .d-icon-BOC, .d-icon-BOC.active{
	cursor: pointer;
	background-position: 0 -180px;
}


/*建设银行*/
.d-icon-CCB{
	background-position: 0 -210px;
}

.d-bank-item:hover .d-icon-CCB,.d-icon-CCB.active{
	cursor: pointer;
	background-position: 0 -240px;
}


/*交通银行*/
.d-icon-BOCOM{
	background-position: 0 -270px;
}

.d-bank-item:hover .d-icon-BOCOM,.d-icon-BOCOM.active{
	cursor: pointer;
	background-position: 0 -300px;
}


/*招商银行*/
.d-icon-CMB{
	background-position: 0 -330px;
}

.d-bank-item:hover .d-icon-CMB,.d-icon-CMB.active{
	cursor: pointer;
	background-position: 0 -360px;
}


/*浦发银行*/
.d-icon-SBDB{
	background-position: 0 -390px;
}

.d-bank-item:hover .d-icon-SBDB,.d-icon-SBDB.active{
	cursor: pointer;
	background-position: 0 -420px;
}


/*民生银行*/
.d-icon-CMBC{
	background-position: 0 -450px;
}

.d-bank-item:hover .d-icon-CMBC, .d-icon-CMBC.active{
	cursor: pointer;
	background-position: 0 -480px;
}

/*中信银行*/
.d-icon-CNCB{
	background-position: 0 -510px;
}

.d-bank-item:hover .d-icon-CNCB,.d-icon-CNCB.active{
	cursor: pointer;
	background-position: 0 -540px;
}


/*兴业银行*/
.d-icon-CIB{
	background-position: 0 -570px;
}

.d-bank-item:hover .d-icon-CIB,.d-icon-CIB.active{
	cursor: pointer;
	background-position: 0 -600px;
}


/*光大银行*/
.d-icon-CEB{
	background-position: 0 -630px;
}

.d-bank-item:hover .d-icon-CEB,.d-icon-CEB.active{
	cursor: pointer;
	background-position: 0 -660px;
}


/*上海银行*/
.d-icon-BOS{
	background-position: 0 -690px;
}

.d-bank-item:hover .d-icon-BOS,.d-icon-BOS.active{
	cursor: pointer;
	background-position: 0 -720px;
}



/*广发银行*/
.d-icon-GDB{
	background-position: 0 -750px;
}

.d-bank-item:hover .d-icon-GDB,.d-icon-GDB.active{
	cursor: pointer;
	background-position: 0 -780px;
}

 
/*华夏银行*/
.d-icon-HXB{
	background-position: 0 -810px;
}

.d-bank-item:hover .d-icon-HXB, .d-icon-HXB.active{
	cursor: pointer;
	background-position: 0 -840px;
}


/*邮政银行*/
.d-icon-PSBC{
	 background-position: 0 -870px;
}

.d-bank-item:hover .d-icon-PSBC,.d-icon-PSBC.active{
	 cursor: pointer;
	 background-position: 0 -900px;
}


/*北京银行*/
.d-icon-BCCB{
	background-position: 0 -930px;
}

.d-bank-item:hover .d-icon-BCCB,.d-icon-BCCB.active{
	cursor: pointer;
	background-position: 0 -960px;
}



/*渤海银行*/
.d-icon-CBHB{
	background-position: 0 -990px;
}

.d-bank-item:hover .d-icon-CBHB,.d-icon-CBHB.active{
	cursor: pointer;
	background-position: 0 -1020px;
}


/*浙商银行*/
.d-icon-ZSB{
	background-position: 0 -1050px;
}

.d-bank-item:hover .d-icon-ZSB,.d-icon-ZSB.active{
	cursor: pointer;
	background-position: 0 -1080px;
}


/*恒丰银行*/
.d-icon-HFB{
	background-position: 0 -1110px;
}

.d-bank-item:hover .d-icon-HFB,.d-icon-HFB.active{
	cursor: pointer;
	background-position: 0 -1140px;
}


/*浙江民泰商业银行*/
.d-icon-ZJMTB{
	background-position: 0 -1170px;
}

.d-bank-item:hover .d-icon-ZJMTB,.d-icon-ZJMTB.active{
	cursor: pointer;
	background-position: 0 -1200px;
}


/*浙江泰隆商业银行*/
.d-icon-ZJTLCB{
	background-position: 0 -1230px;
}

.d-bank-item:hover .d-icon-ZJTLCB,.d-icon-ZJTLCB.active{
	cursor: pointer;
	background-position: 0 -1260px;
}


/*宁波银行*/
.d-icon-NBCB{
	background-position: 0 -1290px;
}

.d-bank-item:hover .d-icon-NBCB,.d-icon-NBCB.active{
	cursor: pointer;
	background-position: 0 -1320px;
}


/*杭州银行*/
.d-icon-HZB{
	background-position: 0 -1350px;
}

.d-bank-item:hover .d-icon-HZB,.d-icon-HZB.active{
	cursor: pointer;
	background-position: 0 -1380px;
}


/*南京银行*/
.d-icon-NJCB{
	background-position: 0 -1410px;
}

.d-bank-item:hover .d-icon-NJCB,.d-icon-NJCB.active{
	cursor: pointer;
	background-position: 0 -1440px;
}

 

/*青岛银行*/
.d-icon-QDCB{
	background-position: -60px -30px;  
}

.d-bank-item:hover .d-icon-QDCB,.d-icon-QDCB.active{
	background-position: -60px -60px;
	cursor: pointer;
}


/*平安银行*/
.d-icon-PAB{
	background-position: -60px -90px; 
}

.d-bank-item:hover .d-icon-PAB,.d-icon-PAB.active {
	background-position: -60px -120px;
	cursor: pointer;
}


 
 


/*银行卡背景*/
.d-bankBg{
	position: absolute;
	right: 2rem;
	bottom: -25px;
	
	width: 5rem;
	height: 5rem; 
	/*transform: scale(3.1);
	-ms-transform:scale(3.1);     
    -moz-transform:scale(3.1);      
    -webkit-transform:scale(3.1);  
    -o-transform:scale(3.1);*/
	opacity: 0.1;
}
/*工商银行*/
.d-bankBg-ICBC{
	background: url(../image/bank/bg_ICBC.png) right bottom no-repeat;
	background-size: 100%;
}

/*农业银行*/
.d-bankBg-ABC{
	background: url(../image/bank/bg_ABC.png) right bottom no-repeat;
	background-size: 100%;
}

/*中国银行*/
.d-bankBg-BOC{
	background: url(../image/bank/bg_BOC.png) right bottom no-repeat;
	background-size: 100%;
}

/*建设银行*/
.d-bankBg-CCB{
	background: url(../image/bank/bg_CCB.png) right bottom no-repeat;
	background-size: 100%;
}

/*交通银行*/
.d-bankBg-BOCOM{
	background: url(../image/bank/bg_BOCOM.png) right bottom no-repeat;
	background-size: 100%;
}

/*招商银行*/
.d-bankBg-CMB{
	background: url(../image/bank/bg_CMB.png) right bottom no-repeat;
	background-size: 100%;
}

/*浦发银行*/
.d-bankBg-SBDB{
	background: url(../image/bank/bg_SBDB.png) right bottom no-repeat;
	background-size: 100%;
}

/*民生银行*/
.d-bankBg-CMBC{
	background: url(../image/bank/bg_CMBC.png) right bottom no-repeat;
	background-size: 100%;
}

/*中信银行*/
.d-bankBg-CNCB{
	background: url(../image/bank/bg_CNCB.png) right bottom no-repeat;
	background-size: 100%;
}

/*兴业银行*/
.d-bankBg-CIB{
	background: url(../image/bank/bg_CIB.png) right bottom no-repeat;
	background-size: 100%;
}

/*光大银行*/
.d-bankBg-CEB{
	background: url(../image/bank/bg_CEB.png) right bottom no-repeat;
	background-size: 100%;
}

/*上海银行*/
.d-bankBg-BOS{
	background: url(../image/bank/bg_BOS.png) right bottom no-repeat;
	background-size: 100%;
}

/*广发银行*/
.d-bankBg-GDB{
	background: url(../image/bank/bg_GDB.png) right bottom no-repeat;
	background-size: 100%;
}

/*华夏银行*/
.d-bankBg-HXB{
	background: url(../image/bank/bg_HXB.png) right bottom no-repeat;
	background-size: 100%;
}

/*邮政银行*/
.d-bankBg-PSBC{
	background: url(../image/bank/bg_PSBC.png) right bottom no-repeat;
	background-size: 100%;
}

/*北京银行*/
.d-bankBg-BCCB{
	background: url(../image/bank/bg_BCCB.png) right bottom no-repeat;
	background-size: 100%;
}

/*渤海银行*/
.d-bankBg-CBHB{
	background: url(../image/bank/bg_CBHB.png) right bottom no-repeat;
	background-size: 100%;
}

/*浙商银行*/
.d-bankBg-ZSB{
	background: url(../image/bank/bg_ZSB.png) right bottom no-repeat;
	background-size: 100%;
}

/*恒丰银行*/
.d-bankBg-HFB{
	background: url(../image/bank/bg_HFB.png) right bottom no-repeat;
	background-size: 100%;
}

/*浙江民泰商业银行*/
.d-bankBg-ZJMTB{
	background: url(../image/bank/bg_ZJMTB.png) right bottom no-repeat;
	background-size: 100%;
}

/*浙江泰隆商业银行*/
.d-bankBg-ZJTLCB{
	background: url(../image/bank/bg_ZJTLCB.png) right bottom no-repeat;
	background-size: 100%;
}

/*宁波银行*/
.d-bankBg-NBCB{
	background: url(../image/bank/bg_NBCB.png) right bottom no-repeat;
	background-size: 100%;
}

/*杭州银行*/
.d-bankBg-HZB{
	background: url(../image/bank/bg_HZB.png) right bottom no-repeat;
	background-size: 100%;
}

/*南京银行*/
.d-bankBg-NJCB{
	background: url(../image/bank/bg_NJCB.png) right bottom no-repeat;
	background-size: 100%;
}

/*青岛银行*/
.d-bankBg-QDCB{
	background: url(../image/bank/bg_QDCB.png) right bottom no-repeat;
	background-size: 100%;
}

/*平安银行*/
.d-bankBg-PAB{
	background: url(../image/bank/bg_PAB.png) right bottom no-repeat;
	background-size: 100%;
} 